<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">React is broken</main>

<script type="text/javascript">
   window.cart = "<%= image_url('cart.png') %>"
</script>

<script type="text/javascript">
   window.search = "<%= image_url('search.png') %>"
</script>

<script type="text/javascript">
   window.flag = "<%= image_url('flag.png') %>"
</script>

<script type="text/javascript">
   window.linkedin = "<%= image_url('linkedin.png') %>"
</script>

<script type="text/javascript">
   window.github = "<%= image_url('github.png') %>"
</script>
<script type="text/javascript">
   window.angel = "<%= image_url('angel.png') %>"
</script>

<script type="text/javascript">
    window.discover = "<%= image_url('discover.png')%>"
</script>

<script type="text/javascript">
    window.visa = "<%= image_url('visa.png')%>"
</script>

<script type="text/javascript">
    window.mastercard = "<%= image_url('mastercard.png')%>"
</script>

<script type="text/javascript">
    window.ae = "<%= image_url('american-express.png')%>"
</script>

<script type="text/javascript">
    window.paypal = "<%= image_url('paypal.png')%>"
</script>

<script type="text/javascript">
    window.klarna = "<%= image_url('klarna.png')%>"
</script>